  {{#paper-card}}
    {{#paper-card-content}}
      <div style="display:flex;justify-content:center;">
          <img src="assets/Logo2.jpg" alt="Logo" style="width:30%;height:30%;">
      </div>


      <h2>{{analyticType}} Analytics</h2>
      <BR></BR>
      <BR></BR>

      <h3>House Conditions</h3>
      {{#ez-tabs}}
        {{#ez-tab-list}}
          {{#ez-tab}}Days Chart{{/ez-tab}}
          {{#ez-tab}}Occurence Chart{{/ez-tab}}
        {{/ez-tab-list}}
        {{#ez-tab-panel-list}}
          {{#ez-tab-panel}}
              {{ember-chart type='Bar' data=data.day height=500 width=800 options=chartAxises.chart1_xValueDisplayName}}
          {{/ez-tab-panel}}
          {{#ez-tab-panel}}
              {{ember-chart type='line' data=data.occurence height=500 width=800 hasXAxisTitle=hasXAxisTitle hasYAxisTitle=hasYAxisTitle xValueDisplayName=chartAxises.chart2_xValueDisplayName yValueDisplayName=chartAxises.chart2_yValueDisplayName}}
          {{/ez-tab-panel}}
        {{/ez-tab-panel-list}}
      {{/ez-tabs}}

      <BR></BR>

      {{#paper-card style="width:25%"}}
      {{#paper-card-content}}
      <div class="md-actions" layout="row">
        <div style='float:left'>
          {{getSummaryStats}}
          <h4>Summary</h4>
          <BR></BR>
          {{#if isLEDAnalytics}}
              <p>Current Usage: {{summaryStats.current}} sec</p>
              <p>Average Usage: {{summaryStats.avg}} sec</p>
              <p>Max Usage: {{summaryStats.max}} sec</p>
              <p>Min Usage: {{summaryStats.min}} sec</p>
              <p>Total Usage Cost: {{summaryStats.totalPowerUsage}} x {{summaryStats.price}} = {{summaryStats.totalCost}}</p>
          {{else}}
              <p>Current Reading: {{summaryStats.current}}</p>
              <p>Average Reading: {{summaryStats.avg}}</p>
              <p>Max Reading: {{summaryStats.max}}</p>
              <p>Min Reading: {{summaryStats.min}}</p>
          {{/if}}
        </div>
        <div style='float:right;margin-left: 150px"'>
          <img src="assets/summary.jpg" alt="Logo">
        </div>
      </div>
      {{/paper-card-content}}
      {{/paper-card}}

      <BR></BR>

      <h3>Outdoor Conditions</h3>
      <div div class="md-actions" layout="row" style="width: 950px;overflow:auto;">

            <div style='float:left'>
              {{getCurrentConditions}}
              {{#if currentConditions.status}}
                        <<div class="card blue lighten-4" style="width:300px;">
                         <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" src={{currentConditions.icon}}>
                         </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Now<i class="material-icons right">more_vert</i></span>
                           <p>{{currentConditions.description}}</p>
                         </div>
                         <div class="card-reveal">
                           <span class="card-title grey-text text-darken-4">{{forecast.date}}<i class="material-icons right">close</i></span>
                           <p>Description: {{currentConditions.description}}</p>
                           <p>Temperature: {{currentConditions.temperature}} Celsius</p>
                           <p>Pressure: {{currentConditions.pressure}} hPa</p>
                           <p>Humidity: {{currentConditions.humidity}} %</p>
                           <p>Temp_min: {{currentConditions.temp_min}} Celsius</p>
                           <p>Temp_max: {{currentConditions.temp_max}} Celsius</p>
                           <p>Wind: {{currentConditions.windSpeed}} meter/sec {{currentConditions.windDirection}} degrees</p>
                           <p>Sunrise time: {{currentConditions.sunrise}}</p>
                           <p>Sunset time: {{currentConditions.sunset}}</p>
                         </div>
                        </div>
              {{/if}}
            </div>

            {{getforecastConditions}}
            {{#if forecastConditionsStatus}}
                {{#each forecastConditions as |forecast|}}
                <div style="float:left">
                        <<div class="card blue lighten-4" style="width:300px;">
                         <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" src={{forecast.icon}}>
                         </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">{{forecast.date}}<i class="material-icons right">more_vert</i></span>
                           <p>{{forecast.description}}</p>
                         </div>
                         <div class="card-reveal">
                           <span class="card-title grey-text text-darken-4">{{forecast.date}}<i class="material-icons right">close</i></span>
                           <p>Description: {{forecast.description}}</p>
                           <p>Temperature: {{forecast.temperature}} Celsius</p>
                           <p>Pressure: {{forecast.pressure}} hPa</p>
                           <p>Humidity: {{forecast.humidity}} %</p>
                           <p>Temp_min: {{forecast.temp_min}} Celsius</p>
                           <p>Temp_max: {{forecast.temp_max}} Celsius</p>
                           <p>Sea Level: {{forecast.sea_level}} hPa</p>
                           <p>Ground Level: {{forecast.grnd_level}} hPa</p>
                           <p>Wind: {{forecast.windSpeed}} meter/sec {{forecast.windDirection}} degrees</p>
                         </div>
                        </div>
                </div>
                {{/each}}
            {{/if}}
      </div>
    {{/paper-card-content}}
  {{/paper-card}}
