  {{#paper-card}}
    {{#paper-card-content}}
      <div style="display:flex;justify-content:center;">
          <img src="assets/Logo2.jpg" alt="Logo" style="width:30%;height:30%;">
      </div>

      <h2>House</h2>
       <BR></BR>

       <p style="margin-left: 40px">
       <h4>Temperature</h4>
            <label>Start Date:{{pikaday-input theme='dark-theme' value=temperatureStartDate onSelection=(action (mut temperatureStartDate)) format='YYYY/MM/DD'}}</label>
            <label style="margin-left: 80px" >End Date:{{pikaday-input theme='dark-theme' value=temperatureEndDate onSelection=(action (mut temperatureEndDate)) format='YYYY/MM/DD'}}</label>
            <div div class="md-actions" layout="row" layout-align="end center">
                <div style='float:left'>
                  {{#link-to 'analytics-detail' (query-params startDate=temperatureStartDateString endDate=temperatureEndDateString roomId=houseId) invokeAction=(action 'temperatureAnalytics')}} View {{/link-to}}
                </div>
            </div>

        <BR></BR>

        <h4>Humidity</h4>
            <label>Start Date:{{pikaday-input theme='dark-theme' value=humidityStartDate onSelection=(action (mut humidityStartDate)) format='YYYY/MM/DD'}}</label>
            <label style="margin-left: 80px" >End Date:{{pikaday-input theme='dark-theme' value=humidityEndDate onSelection=(action (mut humidityEndDate)) format='YYYY/MM/DD'}}</label>
            <div div class="md-actions" layout="row" layout-align="end center">
              <div style='float:left'>
                {{#link-to 'analytics-detail' (query-params startDate=humidityStartDateString endDate=humidityEndDateString roomId=houseId) invokeAction=(action 'humidityAnalytics')}} View {{/link-to}}
              </div>
            </div>
        </p>
       <BR></BR>
       <BR></BR>

       <h2>Rooms</h2>
       <BR></BR>
       {{ledDateChanged}}
       <p style="margin-left: 40px">
         {{#each rooms as |room|}}
            <h4>{{room.name}}</h4>
            <label>Start Date:{{pikaday-input theme='dark-theme' value=room.ledStartDate onSelection=(action (mut room.ledStartDate)) onClose=(action 'updateRoomDateString') format='YYYY/MM/DD'}}</label>
            <label style="margin-left: 80px" >End Date:{{pikaday-input theme='dark-theme' value=room.ledEndDate onSelection=(action (mut room.ledEndDate)) onClose=(action 'updateRoomDateString') format='YYYY/MM/DD'}}</label>
            <div div class="md-actions" layout="row" layout-align="end center">
                <div style='float:left'>
                  {{#link-to 'analytics-detail' (query-params startDate=room.ledStartDateString endDate=room.ledEndDateString roomId=room.id) invokeAction=(action 'ledAnalytics')}} View {{/link-to}}
                </div>
            </div>
         {{/each}}
       </p>

    {{/paper-card-content}}
  {{/paper-card}}
