  {{#paper-card}}
    {{#paper-card-content}}
      <div style="display:flex;justify-content:center;">
          <img src="assets/Logo.png" alt="Logo" style="width:400px;height:220px;">
      </div>

      <h2>House</h2>
       <BR></BR>

       <p style="margin-left: 40px">
       <h4>Temperature</h4>
            {{paper-input label="Start Date (E.G. 17/01/2017)"  width=80 value=temperatureStartDate}}
            {{paper-input label="End Date (E.G. 17/01/2017)"  width=80 value=temperatureEndDate}}

            <div div class="md-actions" layout="row" layout-align="end center">
                <div style='float:left'>
                  {{#link-to 'analytics-detail' (query-params startDate=temperatureStartDate endDate=temperatureEndDate roomId=houseId) invokeAction=(action 'temperatureAnalytics')}} View {{/link-to}}
                </div>
            </div>

        <BR></BR>
        <h4>Humidity</h4>
            {{paper-input label="Start Date (E.G. 17/01/2017)"  width=80 value=humidityStartDate}}
            {{paper-input label="End Date (E.G. 17/01/2017)"  width=80 value=humidityEndDate}}

            <div div class="md-actions" layout="row" layout-align="end center">
              <div style='float:left'>
                {{#link-to 'analytics-detail' (query-params startDate=humidityStartDate endDate=humidityEndDate roomId=houseId) invokeAction=(action 'humidityAnalytics')}} View {{/link-to}}
              </div>
            </div>
        </p>
       <BR></BR>
       <BR></BR>

       <h2>Rooms</h2>
       <BR></BR>
       <p style="margin-left: 40px">
         {{#each user.rooms as |room|}}
            <h4>{{room.name}}</h4>
            <h4>LED</h4>
            {{paper-input label="Start Date (E.G. 17/01/2017)"  width=80 value=room.ledStartDate}}
            {{paper-input label="End Date (E.G. 17/01/2017)"  width=80 value=room.ledEndDate}}

            <div div class="md-actions" layout="row" layout-align="end center">
                <div style='float:left'>
                  {{#link-to 'analytics-detail' (query-params startDate=room.ledStartDate endDate=room.ledEndDate roomId=room.id) invokeAction=(action 'ledAnalytics')}} View {{/link-to}}
                </div>
            </div>
         {{/each}}
       </p>

    {{/paper-card-content}}
  {{/paper-card}}
