  {{#paper-card}}
        <div div class="md-actions" layout="row">
          {{#each userRooms as |room|}}
            <div style='float:left'>
                <div style="position: relative;width: 100%;">
                    {{#if room.bulbOn}}
                        <img src="assets/bedRoomOn.jpg" style="width:100%;height:100%;border:2px solid black;">
                        <div style="position: absolute; top: 0; left: 50%;">
                            <img src="assets/bulbOn.png" style="width:20%;height:20%;" onclick={{action "changeLightState" room.id}}>
                        </div>
                        <div style="position: absolute; top: 85%; left: 35%;">
                            <h3>{{room.name}}</h3>
                        </div>
                    {{else}}
                        <img src="assets/bedRoomOff.jpg" style="width:100%;height:100%;border:2px solid black;">
                        <div style="position: absolute; top: 0; left: 50%;">
                            <img src="assets/bulbOff.png" style="width:20%;height:20%;" onclick={{action "changeLightState" room.id}}>
                        </div>
                        <div style="position: absolute; top: 85%; left: 35%;">
                            <h3>{{room.name}}</h3>
                        </div>
                    {{/if}}

                </div>
            </div>
          {{/each}}
        </div>
        <div style="position: relative;width: 100%;">
          <img src="assets/livingRoom.jpg" style="width:100%;height:1%;border:2px solid black;" onclick={{action "changeLightState"}}>
          {{#if hasMainRoomAnalyticsAccess}}
                <div style="position: absolute; top: 30%; left: 60%;">
                    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
                    <div style="font-family: 'Orbitron', sans-serif; color:blue; font-size:200%">Temperature = {{sensorReading.temperature}} C</div>
                </div>
                <div style="position: absolute; top: 40%; left: 5%;">
                    <div style="font-family: 'Orbitron', sans-serif; color:blue; font-size:200%">Humidity = {{sensorReading.humidity}}</div>
                </div>
          {{else}}
                <div style="position: absolute; top: 30%; left: 30%;">
                    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
                    <div style="font-family: 'Orbitron', sans-serif; color:red; font-size:200%">Restricted Access to Main Room Control</div>
                </div>
          {{/if}}
        </div>
  {{/paper-card}}
