{{#paper-card}}
  {{#paper-card-content}}
    <div style="display:flex;justify-content:center;">
        <img src="assets/Logo2.jpg" alt="Logo" style="width:30%;height:30%;">
    </div>
    <h3>Create New User</h3>
      <BR></BR>
      {{#if submitFailed}}
        <div class="alert alert-danger">Invalid Inputs</div>
      {{/if}}
      {{#if requestFailed}}
        <div class="alert alert-danger">Request Failed</div>
      {{/if}}

      {{#if isSlowConnection}}
        <div class="alert alert-warning">The request seems to be taking more time than usual, please wait.</div>
      {{/if}}

      <form class="form-horizontal" {{action "submit" on="submit"}}>
        {{paper-input label="Name"  width=80 value=name}}
        {{paper-input label="Username" width=50 value=username}}
        {{paper-input label="E-mail" value=email}}
        {{paper-input label="Password" type="password" value=password}}
        {{paper-input label="Confirm Password" type="password" value=cPassword}}
        <b>Access to:</b>
        <p style="margin-left: 40px">
            {{input type="checkbox" checked=hasAccessToHome}}Home Sensors Analytics
            <BR></BR>
            {{#each userRooms as |room|}}
              {{input type="checkbox" checked=room.hasAccess}}{{room.name}}
              <BR></BR>
            {{/each}}
        </p>

        <BR></BR>
        <div style='float:right'>
          <button type="submit" class="btn" {{bindAttr disabled="isProcessing"}}>
            Submit
          </button>
        </div>
      </form>

  {{/paper-card-content}}
{{/paper-card}}
